body {
  background-color: #041014;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 300px;
  padding: 20px;
  background-color: #d3eaf2;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:focus {
  outline: none;
}

.boxusers {
  width: 800px;
  padding: 20px;
  background-color: #d3eaf2;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.inform{
    color: #041014;
}

a {
  display: inline-block;
  margin-top: 20px;
  //margin-right: 650px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
}

.del{
    background-color: #F90808;
}

.del:hover{
    background-color: #CB2020;
}

table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

th{
  background-color: #343a40; 
  color: #fff;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #f0f0f0;
}

.boxcustomers {
  width: 450px;
  padding: 20px;
  background-color: #d3eaf2;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #d3eaf2;
    border-radius: 5px;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row label {
    flex-basis: 100px;
    margin-right: 10px;
    text-align: left;
}

.form-row input,
.form-row textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 150px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.form-container button[type="button"] {
    margin-left: 10px;
    background-color: #999;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container button[type="button"]:hover {
    background-color: #ccc;
}