<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G3 [[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <div class="boxcustomers">
        <h1>[[${pageTitle}]]</h1>
        <form class="form-container" th:action="@{/users/save}" method="post" th:object="${customers}">
            <input type="hidden" th:field="*{id}">
            <div class="form-row">
                <label>First Name:</label>
                <input type="text" th:field="*{firstName}" required minlength="2" maxlength="20">
            </div>
            <div class="form-row">
                <label>Last Name:</label>
                <input type="text" th:field="*{lastName}" required minlength="2" maxlength="20">
            </div>
            <div class="form-row">
                <label>Email:</label>
                <input type="email" th:field="*{email}" required minlength="2" maxlength="30">
            </div>
            <div class="form-row">
                <label>Age:</label>
                <input type="text" th:field="*{age}">
            </div>
            <div class="form-row">
                <label>Enabled:</label>
                <input type="checkbox" th:field="*{enabled}">
            </div>
            <div class="form-row">
                <button type="submit">Save</button>
                <button type="button" onclick="cancelForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "/users"
    }
</script>
</body>
</html>